pydantic
langchain
docker
boto3 
duckduckgo-search
stackapi
arxiv
openai
transformers
azure-identity 
torch 
torchvision
torchaudio
flax
bitsandbytes
diskcache 
redis
uvicorn
fastapi
boto3
python-dotenv
jsonref
SentencePiece
tiktoken
google-generativeai
anthropic
ollama
vllm
vertexai
optimum
beautifulsoup4
typer
alembic